@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.site-tree-search-value {
  color: #f50;
}

.content {
  padding: 0 10px;
  /* // background-color: rgba(20, 58, 110, 0.8); */
}


.content .top {
  padding: 10px 0;
}

.content .top .ant-form-item {
  padding-top: 5px;
}

.content .action {
  margin-top: 10px;
}

.content .middle {
  padding: 10;
  display: flex;
  flex-wrap: wrap;
  user-select: none;
}

:where(.css-dev-only-do-not-override-1rjul78).ant-modal .ant-modal-content {
  background: linear-gradient(180deg, #01206c 0%, #01206c 56.48%, #0373c6 100%);
  border: 0.6px solid;
  border-color: #00eeff;
  border-radius: 4px;
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.35), 0px 10px 30px #00a8ff inset;
}

:where(.css-dev-only-do-not-override-n2xg01).ant-select-dropdown {
  background: linear-gradient(180deg, #01206c 0%, #01206c 56.48%, #0373c6 100%);
  border: 0.6px solid;
  border-color: #00eeff;
  border-radius: 4px;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.35), 0px 10px 30px #00a8ff inset;
}